extends master

block content
  #top
    h1 drawmo
    p.current-word Today's word is #{currentWord}
    a(href='#') Save &amp; Share

  #artpad
    canvas#surface(width="800", height="600")
      Your browser isn't supported, sorry

  #tools
    #paintbrush-brushes
    #paintbrush-colours


