extends master

block content
  #content.container-fluid
    .row-fluid
      .span3
        h1 drawmo
      .span3
        p.current-word Today's word is #{currentWord}
      .span3
        a(href='/draw') Draw it!
    .row-fluid
       .span1
         p Drawing
       .span1
         p Drawing
       .span1
         p Drawing
       .span1
         p Drawing
       .span1
         p Drawing
       .span1
         p Drawing
       .span1
         p Drawing
       .span1
         p Drawing
       .span1
         p Drawing
