body {
  background-color: #EEE;
}
#content {
  margin-top: 10px;
  display: none;
}

canvas {
  background-color: #FFF;
  width: 100%;
  border: 1px solid #DDD;
  -webkit-box-shadow: 2px 2px 10px 1px rgba(128, 128, 128, 0.5);
  box-shadow: 2px 2px 10px 1px rgba(128, 128, 128, 0.5);
}

#client-input {
  height: 30px;
  font-size: 24px;
  width: 80%;
  margin: 10px 0 0 0;
  padding: 0;
}

#client-input-button {
  height: 30px;
  font-size: 24px;
  width: 15%;
  padding: 0;
  margin: 10px 0 0 0 ;
}

#paintbrush-brushes {
  margin-top: 10px;
  height: 60px;
  float: left;
  width: 40%;
}

#paintbrush-brushes span {
  background-color: #000;
  cursor: pointer;
  float: left;
  margin-left 30px;
  margin-right: 15px;
}

#paintbrush-brushes span.selected {
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#paintbrush-colours {
  margin-top: 10px;
  width: 58%;
  float: right;
}

#paintbrush-colours span {
  float: right;
  width: 50px;
  height: 50px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 5px;
  cursor: pointer;
}

#paintbrush-colours span.selected {

}

#client-feedback {
  background-color: #FFF;
  border: 1px solid #DDD;
  overflow: auto;
  -webkit-box-shadow: 2px 2px 10px 1px rgba(128, 128, 128, 0.5);
  box-shadow: 2px 2px 10px 1px rgba(128, 128, 128, 0.5);
}

#client-feedback span {
  display: block;
  margin-top: 5px;
  margin-left: 5px;
  height: 26px;  
}

#client-feedback span img {
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

#client-feedback span p {
  float: left
  vertical-align: middle;
}

#client-status img {
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 10px;
} 

#footnote {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

#loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90%;
  padding: 5%;
  height: 80%;
  text-align: center;
}

#loading-spinner {
  position: relative;
  width: 54px;
  height: 54px;
  display: inline-block;
}

#loading-spinner div {
  width: 12%;
  height: 26%;
  background: #000;
  position: absolute;
  left: 44.5%;
  top: 37%;
  opacity: 0;
  -webkit-animation: fade 1s linear infinite;
  -webkit-border-radius: 50px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
}


#loading-spinner div.bar1 {
  -webkit-transform:rotate(0deg) translate(0, -142%);
  -webkit-animation-delay: 0.9166s;
}

#loading-spinner div.bar2 {
  -webkit-transform:rotate(30deg) translate(0, -142%);
  -webkit-animation-delay: 0.8333;
}
#loading-spinner div.bar3 {
  -webkit-transform:rotate(60deg) translate(0, -142%);
  -webkit-animation-delay: 0.750s;
}
#loading-spinner div.bar4 {
  -webkit-transform:rotate(90deg) translate(0, -142%);
  -webkit-animation-delay: 0.666s;
}
#loading-spinner div.bar5 {
  -webkit-transform:rotate(120deg) translate(0, -142%);
  -webkit-animation-delay: 0.5833s;
}
#loading-spinner div.bar6 {
  -webkit-transform:rotate(150deg) translate(0, -142%);
  -webkit-animation-delay: 0.5s;
}
#loading-spinner div.bar7 {
  -webkit-transform:rotate(180deg) translate(0, -142%);
  -webkit-animation-delay: 0.41666s;
}
#loading-spinner div.bar8 {
  -webkit-transform:rotate(210deg) translate(0, -142%);
  -webkit-animation-delay: 0.3333s;
}
#loading-spinner div.bar9 {
  -webkit-transform:rotate(240deg) translate(0, -142%);
  -webkit-animation-delay: 0.25s;
}
#loading-spinner div.bar10 {
  -webkit-transform:rotate(270deg) translate(0, -142%);
  -webkit-animation-delay: 0.16s;
}
#loading-spinner div.bar11 {
  -webkit-transform:rotate(300deg) translate(0, -142%);
  -webkit-animation-delay: 0.0833;
}
#loading-spinner div.bar12 {
  -webkit-transform:rotate(330deg) translate(0, -142%);
  -webkit-animation-delay: 0s;
}


@-webkit-keyframes fade {
  from {opacity: 1;}
  to {opacity: 0.25; }
}

@media all and (min-width: 1300px) {
  canvas {
    height: 80%;
  }
  #client-feedback {
    height: 80%;
  }
}


@media all and (max-width: 1299px) {
  canvas {
    height: 70%;
  }
  #client-feedback {
    height: 70%;
  }
}
