#container
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

  >div
    position: absolute

#top
  left: 0
  right: 0
  height: 80px

  >h1
    float: left
    margin-left: 10px
  >p
    float: left
    margin-left: 50px
  >a
    float: right
    margin-right: 50px

#artpad
  left: 0
  right: 0
  top: 80px
  bottom: 150px

#tools
  left: 0
  right: 0
  bottom: 0
  height: 150px
